/******************************************
* This CSS file belongs to the Admin part *
* of Taquilla 0.1! PLEASE DO NOT *
* make any changes here! Thank you!       *
******************************************/

/* OWN PLUGIN STYLES */

.taquilla-movie-title { font-weight: bold; }
.taquilla-movie-year  { font-style: italic; }

/* OVERRIDE EXISTING WP STYLES */

/* overwrite 980px max-width in WP < 2.7 */
div.wrap { max-width: 100%!important; }

#icon-list_mo {
	background: transparent url(../images/icons32.png) no-repeat -11px -5px;
}

#adminmenu #menu-items div.wp-menu-image {
	background: transparent url("../images/menu-vs.png") no-repeat scroll -1px -33px;
}

#adminmenu #menu-items:hover div.wp-menu-image,
#adminmenu #menu-items.wp-has-current-submenu div.wp-menu-image {
	background: transparent url("../images/menu-vs.png") no-repeat scroll -1px -1px;
}
